anyio==4.12.1
bibtexparser==1.4.3
certifi==2026.1.4
et_xmlfile==2.0.0
feedparser==6.0.12
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
numpy==2.4.1
openpyxl==3.1.5
pandas==2.3.3
pyparsing==3.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzotero==1.8.0
sgmllib3k==1.0.0
six==1.17.0
typing_extensions==4.15.0
tzdata==2025.3
whenever==0.9.5
